html {
  background-color: white;
}

nav {
  padding: 16px;
}

nav h1 {
  font-size: 1.2em
}

nav h1 > a {
  color: inherit
}

.date {
  font-size: 0.8em;
}

footer {
  padding: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.45em;
  font-weight: 700;
  margin: 1em 0;
  color: #4a4a4a;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.25em;
  color: #5d686f;
  background-color: white;
  max-width: 720px;
  margin: auto;
}

section {
  margin: 0px 16px;
}

article img {
  max-width: 100%;
}

article blockquote {
  border-left: 4px solid #F0F0F0;
  margin-left: 0px;
  padding-left: 16px;
  margin-right: 0px;
}

article p > code {
  background: #F0F0F0;
  font-family: monospace, monospace;
  padding: 1px 2px;
}

article h1 {
  margin-top: 0px;
}

article h6 {
  margin-bottom: 0px;
  font-weight: 400;
}

footer h3 {
  font-size: 0.6em;
  font-weight: 400;
  text-align: center;
  color: #5d686f;
}